name: Push Docker image to ECR and update to Github

on:
  release:
    types: [published]
  push:
    branches: [ "main" ]
jobs:
  push_to_registry_frontend:  
    name: Push Frontend Docker image to ECR
    runs-on: ubuntu-18.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Set Outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
        
      - name: Configure AWS creddentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          
      - name: Login to ECR
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.REGISTRY }}
          
      - name: Build and push
        uses: docker/build-push-action@v2 # build-push-action 사용
        with:
          context: ./Frontend
          push: true
          tags: |
            ${{ secrets.REGISTRY }}/react-app:${{ steps.extract_branch.outputs.branch }}-${{ steps.vars.outputs.sha_short }}
            ${{ secrets.REGISTRY }}/react-app:latest
          cache-from: type=gha # 여기서 gha 는 Guthub Actions 용 캐시를 의미합니다.
          cache-to: type=gha,mode=max
          
  push_to_registry_backend_fast-api:  
    name: Push Backend fastapi Docker image to ECR
    runs-on: ubuntu-18.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set Outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Configure AWS creddentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to ECR
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.REGISTRY }}
          
      - name: Build and push
        uses: docker/build-push-action@v2 # build-push-action 사용
        with:
          context: ./Backend/fast-api
          
          push: true
          tags: |
            ${{ secrets.REGISTRY }}/fast-api:${{ steps.extract_branch.outputs.branch }}-${{ steps.vars.outputs.sha_short }}
            ${{ secrets.REGISTRY }}/fast-api:latest
          cache-from: type=gha # 여기서 gha 는 Guthub Actions 용 캐시를 의미합니다.
          cache-to: type=gha,mode=max

  push_to_registry_backend_flask-api:  
    name: Push Backend flask Docker image to ECR
    runs-on: ubuntu-18.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set Outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Configure AWS creddentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to ECR
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.REGISTRY }}
          
      - name: Build and push
        uses: docker/build-push-action@v2 # build-push-action 사용
        with:
          context: ./Backend/flask-api
          push: true
          tags: |
            ${{ secrets.REGISTRY }}/flask-api:${{ steps.extract_branch.outputs.branch }}-${{ steps.vars.outputs.sha_short }}
            ${{ secrets.REGISTRY }}/flask-api:latest
          cache-from: type=gha # 여기서 gha 는 Guthub Actions 용 캐시를 의미합니다.
          cache-to: type=gha,mode=max


  push_to_registry_backend_spring-api:  
    name: Push Backend spring Docker image to ECR
    runs-on: ubuntu-18.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Set Outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Configure AWS creddentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to ECR
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.REGISTRY }}
          
      - name: Build and push
        uses: docker/build-push-action@v2 # build-push-action 사용
        with:
          context: ./Backend/spring-api
          push: true
          tags: |
            ${{ secrets.REGISTRY }}/spring-api:${{ steps.extract_branch.outputs.branch }}-${{ steps.vars.outputs.sha_short }}
            ${{ secrets.REGISTRY }}/spring-api:latest
          cache-from: type=gha # 여기서 gha 는 Guthub Actions 용 캐시를 의미합니다.
          cache-to: type=gha,mode=max

  push_to_registry_backend_node-api:  
    name: Push Backend node Docker image to ECR
    runs-on: ubuntu-18.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Setup node env
        uses: actions/setup-node@v3.4.1
        with:
          node-version: '16'
          
      - name: Create .env file
        run: |
          jq -r 'to_entries|map("\(.key)=\(.value|tostring)")|.[]' <<< "$NODE_ENV" > ./Backend/node-api/.env
          pwd
          ls -al
        env:
          NODE_ENV: ${{ toJson(secrets) }}
        
      - name: Set Outputs
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Configure AWS creddentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Login to ECR
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.REGISTRY }}
          
      - name: Build and push
        uses: docker/build-push-action@v2 # build-push-action 사용
        with:
          context: ./Backend/node-api
          push: true
          tags: |
            ${{ secrets.REGISTRY }}/node-api:${{ steps.extract_branch.outputs.branch }}-${{ steps.vars.outputs.sha_short }}
            ${{ secrets.REGISTRY }}/node-api:latest
          cache-from: type=gha # 여기서 gha 는 Github Actions 용 캐시를 의미합니다.
          cache-to: type=gha,mode=max
      - name: test
        run: |
          pwd
          ls -al
          ls -al ./Backend/node-api/
          cat ./Backend/node-api/.env

####################################################################################################

  deploy:  
    name: Edit deploy.yaml and deploy
    needs: ["push_to_registry_frontend","push_to_registry_backend_fast-api","push_to_registry_backend_flask-api","push_to_registry_backend_spring-api","push_to_registry_backend_node-api"]
    runs-on: ubuntu-18.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        
      - name: Update Version react-api
        run: |
            git_hash=$(git rev-parse --short "$GITHUB_SHA")
            version=$(cat ./Frontend/charts/helm-example/values.yaml | grep version: | awk '{print $2}')
            sed -i "s/$version/${GITHUB_REF##*/}-$git_hash/" ./Frontend/charts/helm-example/values.yaml
        
      - name: Update Version fast-api
        run: |
            git_hash=$(git rev-parse --short "$GITHUB_SHA")
            version=$(cat ./Backend/fast-api/charts/helm-example/values.yaml | grep version: | awk '{print $2}')
            sed -i "s/$version/${GITHUB_REF##*/}-$git_hash/" ./Backend/fast-api/charts/helm-example/values.yaml
        
      - name: Update Version flask-api
        run: |
            git_hash=$(git rev-parse --short "$GITHUB_SHA")
            version=$(cat ./Backend/flask-api/charts/helm-example/values.yaml | grep version: | awk '{print $2}')
            sed -i "s/$version/${GITHUB_REF##*/}-$git_hash/" ./Backend/flask-api/charts/helm-example/values.yaml
        
      - name: Update Version spring-api
        run: |
            git_hash=$(git rev-parse --short "$GITHUB_SHA")
            version=$(cat ./Backend/spring-api/charts/helm-example/values.yaml | grep version: | awk '{print $2}')
            sed -i "s/$version/${GITHUB_REF##*/}-$git_hash/" ./Backend/spring-api/charts/helm-example/values.yaml
        
      - name: Update Version node-api
        run: |
            git_hash=$(git rev-parse --short "$GITHUB_SHA")
            version=$(cat ./Backend/node-api/charts/helm-example/values.yaml | grep version: | awk '{print $2}')
            sed -i "s/$version/${GITHUB_REF##*/}-$git_hash/" ./Backend/node-api/charts/helm-example/values.yaml

      - name: Commit and push changes
        uses: devops-infra/action-commit-push@v0.3
        with:
          github_token: ${{ secrets.GIT_ACCESS_TOKEN }}
          commit_message: Version updated

#       - name: ArgoCD Application Sync Action
#         # You may pin to the exact commit or the version.
#         # uses: omegion/argocd-actions@acb1ed549f9d5139c2d2c13f1b9dde6dd70856b5
#         uses: omegion/argocd-actions@v0.2.0
#         with:
#           # ArgoCD server address
#           address: ${{ secrets.ARGOCD_APP_ADDRESS }}
#           # ArgoCD token
#           token: ${{ secrets.ARGOCD_APP_TOKEN }}
#           # Application name to sync
#           appName: |
#             test-backend-goodmorning-app
#             test-backend-goodnight-app
#             test-backend-hi-app
#             test-backend-hello-app
            
